<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.truongngoc.newsradio">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1517380571888085"
            android:exported="true" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />

        <service
            android:name=".service.RegisterNewUserService"
            android:exported="false" />
        <service
            android:name=".service.DownloadRssPageService"
            android:exported="false" />
        <service
            android:name=".service.DownloadImageService"
            android:exported="false" />
        <service
            android:name=".service.ShareNewsFeedService"
            android:exported="false" />

        <activity
            android:name=".UserProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CategoriesNewsActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".NewsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".NewsArticleActivity"
            android:label="@string/title_activity_news_article"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ShareNewsActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>
